
106370.best_tree.ph

106370.best_tree.ph.dist

106370.best_tree.ph.dist.test

106370.fasta.all.aln-gb.phy.tree

fasttree.tree

get_all_treedist.sh

speciestree_coelomata-brlens.ph

speciestree_coelomata-brlens.ph~



.gitignore~

testtree.ph~

testtree1.ph

testtree1.ph.dist

testtree1.ph~

testtree3.ph

testtree3.ph.dist

testtree3.ph~

testtree4.ph

testtree4.ph.dist

testtree4.ph~

tree

tree.dist

treedist

treedist_all

treedist_all.dSYM/Contents/Info.plist

treedist.c~

trees.ps

tt

testtree.ph.dist

treedist_pair

testtree.ph.dist
